.App {
  position: relative;
}

.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mainContent {
  position: relative;
  z-index: 2;
  top: 8rem;
}

