  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

*{
    font-family: 'DM sans', sans-serif;
}

h1{
    color: #FEF7EE;
    font-size: 2rem;
    font-weight: 500;
  }

  p{
    font-size: 1rem;
    color: #6F757C;
    line-height: 1.5;
  }

  span{
    color:#111315;
    font-weight: 500;
  }

  button{
    color: #FEF7EE;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
  }

  h2{
    color: #FEF7EE;
    font-size: 1rem;

  }
  
